* {
  border: solid green;
}
Label#record-title {
    margin: 1 0 0 2;
    text-style: bold;
    padding-right: 2;
}

Label.actionable-title {
    margin: 1 0 0 2;
    padding-right: 2;
}

PerformerModal {
    align: center middle;
    width: 60;
}

MediaView {
    layout: grid;
    grid-size: 3;
}

#record-title {
    column-span: 2;
}

.save-delete-button-group {
    column-span: 1;
}
